html {
	scroll-behavior: smooth;
}

/* Styling som gäller för hela sidan */
body {
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #ff726c;
  margin: 0;
}

/* Navbar */

.navbar {
  height: 59px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom-color: #f8f3ed;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9;
          }

  .navbar a:link {
    color: #ff726c;
    font-size: 15x;
    padding: 20px;
    text-decoration: none;
    background-color: transparent;
  }

  .navbar a:visited {
    color: #ff726c;
    text-decoration: none;
  }

  
  .navbar a:hover {
    color: white;
    background-color: #ff726c;
    text-decoration: none;
  }

  
/* Knappen */

.button {
  background-color: #ff726c;
  color: white;
  padding: 25px;
  border-color: white;
  border: 2px solid;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: white;
  color: #ff726c;
  padding: 25px;
  border-color: white;
  border: 2px solid;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Alla rubriker och texter */

h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: black;
}

/* Text boxen runt texterna i about-me sektionen och greatness sektionen. */

.text-container {
  width: 60%;
  margin: 0 auto;
}

/* About-me sektionen */

.about-me {
  background-color: #ff726c;
  padding: 150px 30px;
  color: white;
  text-align: center;
}

/* Bilden i about-me sektionen */

.about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Portfolio sektionen */

.portfolio {
  padding: 150px 30px;
  width: 60%;
  margin: 0 auto;
}

.gallery {
  position: relative;
  width: 100%;
}

.gallery img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.gallery:hover .image {
  opacity: 0.3;
}

.gallery:hover .middle {
  opacity: 1;
}

.link {
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

/* Footern */

footer {
  background-color: #fbcfcd;
  padding: 150px 300px;
}

.socialMedia {
  text-align: center;
  font-size: 30px;
  color: white;
}
